<% if(scrapedData.length <= 0) {%>

<p class="error-text">
    We are still working on retrieving items related to your search
</p>

<%} else {%>

<ul class="search-result-list unstyled-list">
    <% for(let data of scrapedData) { %>
    <li class="search-result">
        <div class="info">
            <span class="product-name"><%= data.productName %></span>
            <span class="product-price">Listed Price: $<%= data.price %></span>
        </div>
        <div class="actions">
            <a href="<%= data.siteUrl %>" target="_blank">Visit Store</a>
            <button
                class="button btn-search"
                data-add-shopping-list-from-search="<%= data.productName %>:<%= data.price %>"
            >
                <i class="fa-solid fa-plus"></i>Add to shopping list
            </button>
        </div>
    </li>
    <% } %>
</ul>
<% } %>
