<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head', {title: "Chakula - Sign up for an account"})
    %>
    <body>
        <%- include('../includes/main-nav', {selected: selected}) %>
        <section class="section-auth">
            <div class="auth-area">
                <h1>Sign Up</h1>
                <% if(message !== false) {%>
                <p><%= message%></p>
                <% } %>
                <form
                    action="/app/register-local"
                    class="auth-form-local"
                    method="post"
                >
                    <label>
                        <% if (validationError !== false &&
                        validationError?.accountHolderName?.value) { %>
                        <input
                            type="text"
                            name="accountHolderName"
                            placeholder="Name"
                            required
                            value="<%= validationError?.accountHolderName?.value%>"
                        />
                        <% } else {%>
                        <input
                            type="text"
                            name="accountHolderName"
                            placeholder="Name"
                            required
                        />
                        <% } %>
                    </label>
                    <% if (validationError !== false &&
                    validationError?.accountHolderName?.msg) { %>
                    <p><%= validationError?.accountHolderName?.msg%></p>
                    <% } %>
                    <label>
                        <% if(validationError !== false &&
                        validationError?.emailAddress?.value) { %>
                        <input
                            type="email"
                            name="emailAddress"
                            placeholder="Email"
                            required
                            value="<%= validationError?.emailAddress?.value %>"
                        />
                        <% } else { %>
                        <input
                            type="email"
                            name="emailAddress"
                            placeholder="Email"
                            required
                        />
                        <%} %>
                    </label>
                    <% if(validationError && validationError?.emailAddress?.msg)
                    {%>
                    <p><%= validationError?.emailAddress?.msg %></p>
                    <% } %>

                    <label>
                        <input
                            type="password"
                            name="password"
                            placeholder="Password"
                            required
                        />
                    </label>
                    <% if(validationError !== false &&
                    validationError?.password?.msg) {%>
                    <p><%= validationError?.password?.msg %></p>
                    <%} %>
                    <button class="btn btn-large btn-auth-register">
                        Get Started
                    </button>
                </form>
                <p class="auth-text">
                    Already Have an account <a href="/app/login">Log in</a>
                    <span>or</span>
                </p>

                <form action="" class="auth-form-fed">
                    <button class="btn btn-large btn-auth-facebook btn-auth">
                        <i class="fa-brands fa-facebook"></i>
                        Sign up with facebook
                    </button>
                </form>
                <form action="" class="auth-form-fed">
                    <button class="btn btn-large btn-auth-google btn-auth">
                        <img src="../images/google.svg" alt="" />Sign up with
                        google
                    </button>
                </form>
                <form action="" class="auth-form-fed">
                    <button class="btn btn-large btn-auth-apple btn-auth">
                        <i class="fa-brands fa-apple"></i>Sign up with apple
                    </button>
                </form>
            </div>
            <img
                class="auth-section-image"
                src="../images/auth-screen-image.svg"
                alt=""
            />
        </section>
        <%- include('../includes/main-footer') %>
        <script src="../js/menu.js" type="module"></script>
    </body>
</html>
